*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    height: 75vh;
}
header{
    background: white;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}

/* FONT SIZING */
h1{
    font-size: 5.4rem;
}
h2{
    font-size: 2.8rem;
    margin-right: 18%;
}
h3{
    font-size: 1.8rem;

}
/* END FONT SIZING */

/* SIDE NAV */
.side-nav{
    background: rgba(255, 255, 255, .8);
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    -webkit-transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    -moz-transition: all .2s cubic-bezier(0, 0.57, 0.74, 1.06);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    z-index: 1;
}
nav{
    opacity: 1;
}
.show-nav{
    right: 0;
}
.nav-appear nav{
    opacity: 1;
    transition: all 5s;
}
.menu-image{
    height: 38px;
    float: right;
}
.x{
    height: 38px;
    align-self: flex-end;
}
li{
    list-style: none;
    margin-top: 20%;
}
a{
    display: block;
    color: black;
    font-size: 2rem;
    text-decoration: none;
}
.nav-content{
    width: 100%;
    text-align: center;
    margin-right: 10%;

}
/* END SIDE NAV */

.hero{
    background-image: url("./images/hero-background.png");
    background-size: cover;
    height: 90vh;
    color: white;
    text-align: center;
}
.hero h1{
    padding-top: 15%;
    padding: 0 auto;
}
.button-div{
    margin-top: 5%;
    display: flex;
    justify-content: center ;
}
.about-button{
    margin-left: 5%;
    background-color: transparent;
    border: 4px solid #c1b801;
    color: white;
    padding: 7px;
    width: 20vw;
    height: 7vh;
    font-weight: bold;
}
.button-div a{
    font-size: 1rem;
}
.about-button:hover{
    cursor: pointer;
}
#demos-button{
    margin-right: 5%;
    background-color: transparent;
    border: 4px solid #b2b2b2;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.services-section{
    height: 55vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.services{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #e8e8e8;
}
.card{
    background-color: #cecece;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card:hover{
    cursor: pointer;
}
.detail-1{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}
.detail-2{
    display: flex;
    background-color: #e8e8e8;
}
.text-div{
    display: flex;
}
.text-div-2{
    text-align: right;
    width: 100%;
    /* margin-left: 0.%; */
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.text-div-2 h2{
    width: 100%;
}
.section-a-text-wrapper{
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 2%;
    width: 66%;
}
/* .section-b-image-wrapper{
    border: 2px solid green
} */
#facebook{
    width: 80px;
    align-self: center;
    margin-top: 5%;
}
#youtube{
    width: 80px;
    align-self: center;
}
#github{
    width: 80px;
    align-self: center;
    margin-top: 6.5%;
}
.paragraph-div{
    text-align: center;
}
#headshot{
    height: 45vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vh;
}
#business{
    height: 40vh;
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-left: 3vh;
}
#contact-form{
    margin-left: 12vw;
    margin-right: 5vw;
    margin-top: 5vh;
}
#submit-button{
    padding: 3px;
}
.footer{
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-social-div{
    display: flex;
}
#footer-facebook-logo{
    width: 40px;
}
#footer-youtube-logo{
    width: 40px;
}
#footer-github-logo{
    width: 40px;
}
@media only screen and (min-width: 490px){
    /* NAV */
    .side-nav{
        right: 0;
        height: 10vh; 
        width: 50%;
        position: static;
        border: none;
    }
    .nav-content{
        padding-right: 74%;
        margin-right: 100%;
    }
    li{
        margin-right: 50%;
        
    }
    a{
        font-size: 1.5rem;
    }
    .nav-content{
        display: flex;
        height: 100%;
        align-items: flex-end;
    }
    .menu-image{
        display: none;
    }
    .x{
        display: none;
    }
    /* END SIDENAV MEDIA QUERIES */

}
@media only screen and (max-width: 490px){
    h1{
        font-size: 3.5rem
    }
    .button-div a{
        font-size: 1rem;
    }
    .button-div{
        flex-direction: column;
        align-items: center;
    }
    .about-button{
        width: 50vw;
        margin: 0;
        margin-top: 10%;
    }
    #demos-button{
        margin: 0;
        margin-top: 10%;
        font-size: 1rem;
    }
    .services-section{
        height: 125vh;  
    }
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .text-div{
        display: flex;
        flex-direction: column-reverse;
    }
    .detail-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-div-2{
        padding-left: 3%;
        padding-right: 3%;
    }
    #contact-form{
        margin-right: 5vw;
        margin-left: 5vw;
        margin-top: 5vh;
    }
}